<%= render "shared/header" %>
  <!-- サイドバー -->
  <% if user_signed_in? %>
    <%= render 'layouts/sidebar' %>
  <% end %>
  <!-- サイドバー -->

<!-- 記録の一覧表示 -->
<div class="records-container">
  <% @records.each do |record| %>
      <% retention_class = "retention-level-#{record.retention_level_id}" %>
      <div class="record-title">
        <%= link_to record.title, record_path(record), class: 'title-link' %>
      </div>
    <div class="record <%= retention_class %>">
      <div class="record-description">
        <p class="description-space"><%= record.description %></p>
        <div class="action-buttons">
          <!-- シェアボタン -->
          <% if record.retention_level_id >= 4 %>
            <div class="share-button">
              <%= button_to "チャットへ共有", share_record_path(record), method: :post %>
            </div>
          <% end %>

          <!-- 編集ボタン -->
          <div class="edit-button">
            <%= link_to edit_record_path(record), class: 'hover:opacity-80' do %>
              <%= image_tag('edit-icon.png', alt: '編集', class: 'index-edit-icon') %>
            <% end %>
          </div>

          <!-- 削除ボタン -->
          <div class="delete-button">
            <%= link_to record_path(record), data: { turbo_method: :delete } do %>
              <%= image_tag('destroy-icon.png', alt: '削除', class: 'index-destroy-icon') %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="record-date">
      投稿(更新)日時: <%= record.created_at.strftime("%Y-%m-%d %H:%M") %>
    </div>
  <% end %>
</div>
<!-- 記録の一覧表示 -->
