<%= render "shared/header" %>
  <!-- サイドバー -->
  <% if user_signed_in? %>
    <%= render 'layouts/sidebar' %>
  <% end %>
  <!-- サイドバー -->

<!-- 記録の一覧表示 -->
<div class="records-container">
  <% @records.each do |record| %>
      <% retention_class = "retention-level-#{record.retention_level_id}" %>
      <div class="record-title">
        <%= link_to record.title, record_path(record), class: 'title-link' %>
      </div>
      <!-- タグ表示エリア 
      <div class="tags">
        <% record.tags.each do |tag| %>
          <span class="tag-label"><%= tag.name %></span>
        <% end %>
      </div>
      -->
    <div class="record <%= retention_class %>">
      <div class="record-description">
        <div class="description-space">
          <%= simple_format(record.description) %>
        </div>
        <div class="action-buttons">
          <!-- シェアボタン -->
          <div>
            <% if record.retention_level_id >= 4 %>
              <%= button_to "チャットへ共有", share_record_path(record), method: :post %>
            <% end %>
          </div>

          <!-- 編集ボタン -->
          <div class="edit-button">
            <%= link_to edit_record_path(record) do %>
              <%= image_tag('edit-icon.png', alt: '編集', class: 'edit-icon') %>
            <% end %>
          </div>

          <!-- 削除ボタン -->
          <div class="destroy-button">
            <%= link_to record_path(record), data: { turbo_method: :delete } do %>
              <%= image_tag('destroy-icon.png', alt: '削除', class: 'destroy-icon') %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="record-date">
      投稿(更新)日時： <%= record.created_at.in_time_zone('Asia/Tokyo').strftime("%Y-%m-%d %H:%M") %>
    </div>
  <% end %>
</div>
<!-- 記録の一覧表示 -->
