<%= render "shared/second-header" %>
  <!-- サイドバー -->
  <% if user_signed_in? %>
    <%= render 'layouts/sidebar' %>
  <% end %>
  <!-- サイドバー -->

<body>
  <div class="show-space">
    <table class="detail-table">
      <tbody>
        <!-- タイトル -->
        <tr>
          <th class="detail-record">タイトル</th>
          <td class="detail-value"><%= @record.title %></td>
        </tr>
        <!-- 説明 -->
        <tr>
          <th class="detail-record">説明</th>
          <td class="detail-value"><%=  raw @record.description.gsub("\n", "<br>").html_safe %></td>
        </tr>
        <!-- その時の感情 -->
        <tr>
          <th class="detail-record">その時の感情</th>
          <td class="detail-value"><%= @record.emotion %></td>
        </tr>
        <!-- その時の場所やURLなど -->
        <tr>
          <th class="detail-record">その時の場所やURLなど</th>
          <td class="detail-value"><%=@record.location %></td>
        </tr>
        <!-- ファイルデータ -->
        <tr>
          <th class="detail-record">ファイルデータ</th>
          <td class="detail-value">
            <% if @record.file.attached? %>
              <%= @record.file %>
            <% else %>
              添付ファイルはありません
            <% end %>
          </td>
        </tr>
        <!-- 定着率 -->
      <tr>
        <th class="detail-record">定着率</th>
          <td class="detail-value <%= "retention-level-#{@record.retention_level_id}" %>">
            <% case @record.retention_level_id %>
              <% when 1 %>
                見た・知った状態
              <% when 2 %>
                ところどころ覚えている
              <% when 3 %>
                概ね覚えていて聞けばイメージできる
              <% when 4 %>
                覚えていて自分の言葉で説明できる
              <% when 5 %>
                定着していて誰でもわかるように説明できる
            <% end %>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="action-buttons">
      <!-- 投稿したユーザーのみ表示 -->
      <% if current_user == @record.user %>

        <!-- シェアボタン -->
        <% if @record.shareable? %>
          <div class="share-button">
            <%= button_to "チャットに共有", share_record_path(@record), method: :post %>
          </div>
        <% end %>

        <!-- 編集ボタン -->
        <div class="edit-button">
          <%= link_to edit_record_path(@record), class: 'hover:opacity-80' do %>
            <%= image_tag('edit-icon.png', alt: '編集', class: 'edit-icon') %>
          <% end %>
        </div>

        <!-- 削除ボタン -->
        <div class="delete-button">
          <%= link_to record_path(@record), data: { turbo_method: :delete } do %>
            <%= image_tag('destroy-icon.png', alt: '削除', class: 'destroy-icon') %>
          <% end %>
        </div>

      <% end %>
    </div>

    <!-- コメントセクション -->
    <div class="comments">
      <div class="comments-section">
        <h3>コメント一覧</h3>
        <ul class="comment-list">
          <% @record.comments.each do |comment| %>
            <li class="comment-item">
              <div class="comment-content">
                <strong><%= comment.user.name %>:</strong> <%= comment.comment %>
              </div>
              <div class="comment-date">
                投稿日時: <%= comment.created_at.strftime("%Y-%m-%d %H:%M") %>
              </div>
              <% if comment.user == current_user %>
                <div class="comment-actions">
                  <%= link_to '削除', record_comment_path(@record, comment), data: { turbo_method: :delete } %>
                </div>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
      <!-- コメント入力フォーム -->
      <% if user_signed_in? %>
        <div class="comment-form-section">
          <h4>コメントを投稿する</h4>
          <div class="comment-field">
            <%= form_with(model: [ @record, @record.comments.build ], local: true) do |form| %>
              <div class="field">
                <%= form.text_area :comment, placeholder: 'コメントを入力...', rows: 2, class: 'message-input' %>
              </div>
              <div class="actions">
                <%= form.submit "送 信", class: 'comment-button' %>
              </div>
            <% end %>
          </div>
        </div>
    </div>
    <% else %>
      <p>※コメントを投稿するにはログインが必要です※</p>
    <% end %>
  </div>
</body>
