<%= render "shared/chat-header" %>
<% if user_signed_in? %>
  <%= render 'layouts/sidebar' %>
<% end %>

<div class="chats-container">
  <% @chats.each do |chat| %>
    <div class="chat <%= chat.user == current_user ? 'current-user' : 'other-user' %>">
      <div class="user-info">
        <% unless chat.user == current_user %>
          <% if chat.record_id.present? %>
            <span class="chat-user-name"><%= chat.user.name %></span> さんが
            <%= link_to chat.record.title, record_path(chat.record), class: 'chat-record-link' %>
            について共有しました
          <% else %>
            <span class="chat-user-name"><%= chat.user.name %></span> さんが投稿しました
          <% end %>
        <% end %>
      </div>

      <div class="chat-message">
        <div class="message-content">
          <%= simple_format(chat.message_content) %>
        </div>
      </div>

      <div class="chat-date">
        <% if chat.user == current_user %>
          <% if chat.record_id.present? %>
            <%= link_to '詳細', record_path(chat.record), class: 'detail-link' %>
          <% end %>
          <%= link_to '削除', chat_path(chat), data: { turbo_method: :delete }, class: 'delete-link' %>
        <% end %>
      </div>
      <div class="chat-date">
        投稿日時： <%= chat.created_at.in_time_zone('Asia/Tokyo').strftime("%Y-%m-%d %H:%M") %>
      </div>
    </div>
  <% end %>
</div>

<% if user_signed_in? %>
  <div class="chat-input-container">
    <% if @chat.errors.any? %>
      <div class="error_explanation_chat">
        <% pluralize(@chat.errors.count, "error") %>
        <ul>
          <% @chat.errors.full_messages.each do |message| %>
            <li class='error-message'><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <%= form_with(model: @chat, url: chats_path, local: false, class: "chat-form") do |form| %>
      <div class="input-area">
        <%= form.text_area :message_content, placeholder: "メッセージを入力...", rows: 2, class: 'message-input' %>
        <%= form.submit "送 信", class: 'chat-button' %>
      </div>
    <% end %>
  </div>
<% else %>
  <div class="chat-input-container2">
    <p>※チャットを投稿するにはログインが必要です※</p>
  </div>
<% end %>
