<!-- ヘッダー -->
<%= render "shared/header" %>
<!-- ヘッダー -->

<!-- サイドバー -->
<% if user_signed_in? %>
  <%= render 'layouts/sidebar' %>
<% end %>
<!-- サイドバー -->

<!-- チャットの一覧表示 -->
<div class="records-container">
  <% @chats.each do |record| %>
      <% retention_class = "retention-level-#{record.retention_level_id}" %>
      <div class="record-title">
        <%= link_to record.title, record_path(record), class: 'title-link' %>
      </div>
    <div class="record <%= retention_class %>">
      <div class="record-description">
        <p class="description-space"><%= record.description %></p>
        <div class="action-buttons">
          <!-- 削除ボタン -->
          <div class="delete-button">
            <%= link_to record_path(record), data: { turbo_method: :delete } do %>
              <%= image_tag('destroy-icon.png', alt: '削除', class: 'index-destroy-icon') %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="record-date">
      投稿(更新)日時: <%= record.created_at.strftime("%Y-%m-%d %H:%M") %>
    </div>
  <% end %>
</div>
<!-- チャットの一覧表示 -->