<%= render "shared/chat-header" %>
<% if user_signed_in? %>
  <%= render 'layouts/sidebar' %>
<% end %>



<div class="chats-container">
  <% @chats.each do |chat| %>
    <div class="chat <%= chat.user == current_user ? 'current-user' : 'other-user' %>">
      
      <!-- 1. ユーザー名をspanタグで強調し、左寄せ -->
      <div class="user-info">
        <% unless chat.user == current_user %> <!-- カレントユーザー以外なら表示 -->
          <% if chat.record_id.present? %>
            <!-- レコードがシェアされた場合の表示 -->
            <p><span class="chat-user-name"><%= chat.user.name %></span>さんが
            <%= link_to chat.record.title, record_path(chat.record), class: 'title-link' %>
            について共有しました。</p>
          <% else %>
            <!-- 通常のチャットメッセージの表示 -->
            <p><span class="chat-user-name"><%= chat.user.name %></span>さんが投稿しました</p>
          <% end %>
        <% end %>
      </div>

      <!-- 2. メッセージと削除ボタンは横並び -->
      <div class="chat-message">
        <div class="message-content">
          <%= simple_format(chat.message_content) %>
        </div>
        <% if chat.user == current_user %>
          <div class="delete-button">
            <%= link_to chat_path(chat), data: { turbo_method: :delete } do %>
              <%= image_tag('destroy-icon.png', alt: '削除', class: 'index-destroy-icon') %>
            <% end %>
          </div>
        <% end %>
      </div>

      <!-- 3. 投稿日時は右寄せ -->
      <div class="chat-date">
        投稿日時： <%= chat.created_at.in_time_zone('Asia/Tokyo').strftime("%Y-%m-%d %H:%M") %>
      </div>

    </div>
  <% end %>
</div>
<% if user_signed_in? %>
  <div class="chat-input-container">
    <% if @chat.errors.any? %>
      <div class="error_explanation_chat">
        <% pluralize(@chat.errors.count, "error") %>
        <ul>
          <% @chat.errors.full_messages.each do |message| %>
            <li class='error-message'><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <%= form_with(model: @chat, url: chats_path, local: true, html: { class: 'chat-form' }) do |form| %>
      <div class="input-area">
        <%= form.text_area :message_content, placeholder: "メッセージを入力...", rows: 2, class: 'message-input' %>
        <%= form.submit "送 信", class: 'chat-button' %>
      </div>
    <% end %>
  </div>
<% else %>
  <div class="chat-input-container2">
    <p>※チャットを投稿するにはログインが必要です※</p>
  </div>
<% end %>